html {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 4px;
}

code {
  font-family: 'Poppins', sans-serif;
}
